<div class="basket-block-container bb">
  <div class="basket-block-image" [style.backgroundImage]="'url(' + data.chinchilla.overall.image + ')'"></div>
  <div class="basket-block-delete" (click)="deleteFromBasket()">
    <img src="/MyImages/main/basketCancel.png" class="basket-block-delete-image">
  </div>
  <h6 class="basket-block-title" style="color: gold;">{{data.chinchilla.overall.title}}</h6>
  <div>
    <p class="basket-block-description">{{data.chinchilla.variant.description}} x </p>
    <input [(ngModel)]="data.count" class="basket-block-count">

    <span class="basket-block-cost">{{data.count * data.chinchilla.variant.cost}}₽</span>
  </div>
</div>
