<div class="main-header-image">
  <div class="main-header-background">
    <img src="/assets/main/Logo.png" class="main-header-logo">
  </div>
</div>
<div class="container-fluid">
  <div class="pt-3">
    <h1 class="main-title">Кратко о таких понятиях, как "чистый стандарт", "фермерский стандарт", "меховой стандарт". Что они означают?</h1>

    <p class="main-text">Чистый стандарт - это тот стандарт, в роду которого на протяжении нескольких последних поколений не было никаких цветных мутаций. При этом качественно зверь может быть на достаточно низком уровне. Все зависит от того, для какой цели их разводят и какой отбор проводят.
  Фермерский стандарт - тот, который рожден на ферме, т.е. в организации, зарегистрированной как фермерское хозяйство, либо без соответствующей регистрации, но относящейся к таковым по численности поголовья. Высокое качество разводимых животных не следует из того, что этот стандарт рожден на ферме. Целью некоторых ферм является совсем не разведение качественного племенного поголовья, а исключительно зарабатывание денег на обмане покупателей путем выдачи низкосортных животных за элитных племенных. К сожалению, в последние годы этот вид ферм развивается опережающими темпами. Люди ведутся на заключение договоров и обещание скупки у них потомства. И только спустя время и потратив немало средств на покупку якобы высококачественных животных, люди узнают об истинной цене своей покупки. Фермеров, следящих за качеством животных, на самом деле совсем не много. И большинство из них входит в число наших заводчиков.
  Ну и наконец добрались до понятия меховой стандарт. Под ним понимается зверь настолько высокого качества, что он удовлетворяет требованиям мехового производства. А лучших из них следует отбирать в качестве племенных животных. Причем не имеет значения размер хозяйства, в котором рождены подобные особи, будь то заводчик с несколькими шиншиллами или огромная ферма. Не имеет значение также и то, является ли зверь чистым стандартом, или в его роду присутствовали цветные мутации. Очень качественные звери были получены от пар стандарт + бархат, стандарт + черный жемчуг. К меховым также могут относиться животные высокого качества некоторых цветных мутаций и окрасов, используемые при изготовлении меховых изделий: черный бархат, коричневый бархат, беж, черный жемчуг, белый Вильсона, бежевый и гомобежевый фиолеты и т.д. И хотя качественно последние окрасы сильно уступают меховым стандартам, но работа с ними ведется, и они уже имеют своих поклонников.</p>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 p-0">
      <div class="main-block-image"
        style="background-image: url('/assets/main/Image_1.jpeg')"
      ></div>
    </div>
    <div class="col-12 col-sm-6">
      <h2 class="main-block-title">Кто такие меховые стандарты?</h2>
      <p class="main-block-text">Таким образом надо понимать, что меховая шиншилла это зверь очень высокого качества. А вот оценить насколько качество высоко может только эксперт, прошедший обучение и имеющий регулярную практику по бонитировке животных мехового направления по международным оценочным системам. Именно поэтому наши заводчики регулярно принимают участие в выставках и оценивают качество своего племенного поголовья или рождённых малышей.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 order-sm-2 p-0">
      <div class="main-block-image"
           style="background-image: url('/assets/main/Image_2.jpeg')"
      ></div>
    </div>
    <div class="col-12 col-sm-6 order-sm-1">
      <h2 class="main-block-title">А какие они бывают?</h2>
      <p class="main-block-text">Меховые стандарты различаются по степени затемнения. Они могут быть светлыми, средними, темными, экстратемными, ХХDark... Но всех их отличает от простых стандартов ряд особенностей: холодный оттенок меха, очень высокая плотность меха, его эластичность и упругость, равномерный окрас по телу с плавным переходом от более темной спины к бокам, чистый белый живот, ровная низкая четкая линия живота.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 p-0">
      <div class="main-block-image"
           style="background-image: url('/assets/main/Image_3.jpeg')"
      ></div>
    </div>
    <div class="col-12 col-sm-6">
      <h2 class="main-block-title">Как их разводить?</h2>
      <p class="main-block-text">В разведении стоит отдавать предпочтение какому-либо одному типу, но наиболее красиво в изделиях смотрятся более темные варианты, а потому они больше ценятся. Также к меховым мутациям относят черных бархат, черный жемчуг и бежевых. Требования к ним такие же, как и к меховым стандартам.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 order-sm-2 p-0">
      <div class="main-block-image"
           style="background-image: url('/assets/main/Image_4.jpg')"
      ></div>
    </div>
    <div class="col-12 col-sm-6 order-sm-1">
      <h2 class="main-block-title">Что насчет меха?</h2>
      <p class="main-block-text">Следует учитывать, что полное вызревание меха происходит только к 10 месяцам. Только в этом возрасте можно полноценно оценить меховые качества животного и провести окончательный отбор, причем оценивать под специальными лампами должен эксперт, прошедший обучение и имеющий опыт бонитировки.</p>
    </div>
  </div>

  <div class="main-to-buying-block">
    <span class="main-to-buying-shadow">
      <a routerLink="buying" class="main-to-buying-button">
        <span class="d-none d-md-inline">Хочу приобрести шиншилл!</span>
        <span class="d-inline d-md-none">Купить</span>
      </a>
    </span>
  </div>
</div>
